
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div style="color:red;font-family:Arial" class="col-md-12">
    <marquee>Chúng tôi mang đến tiêu chí chất lượng là số 1 để sự phục vụ của các bạn</marquee>
</div>

