
@{
    ViewBag.Title = "CamOn";
    Layout = "~/Views/Shared/_MyLayout2.cshtml";
}
<div class="container">
    <text class="text-success"> Cảm ơn bạn đã phản hồi cho chúng tôi .Sự đóng góp của bạn là sự thành công của chúng tôi</text>
</div>

